



main {
    padding: 20px;
}


main h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: black;
}


main section {
    margin-bottom: 40px;
    color: black;
}






main section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}


main section p {
    font-size: 16px;
    line-height: 1.6;
}


main section ul {
    list-style-type: disc;
    padding-left: 20px;
}


 main section ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}


