
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png') repeat;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .left-side a img {
  width: 80px;
  height: auto;
}

header .right-side {
  display: flex;
}

header .right-side .nav-link-wrapper {
  margin-left: 20px;
}

header .right-side .nav-link-wrapper a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Viga', sans-serif;
}


.navbar {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 20px 0;
  width: 100%;
  margin-top: 20px;
}

.navbar .dropdown {
  position: relative;
  margin: 0 70px;
}

.navbar .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 8px;
}

.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: #ddd;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}


.container {
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.container .left-side {
  text-align: center;
  margin: 0px;
  
}

.container .left-side .area {
  font-size: 6.5em;
  color: #93ceff;
  letter-spacing: -2px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.9s ease-out infinite;
  text-shadow: 0px 0px 2px #ffffff, 0px 0px 7px #fff;
  font-family: Impact;
}

.container .left-side h1 {
  font-size: 60px;
  letter-spacing: 2px;
  font-family: 'Viga', serif;
  color: rgb(65, 77, 245);
}

.container .left-side p {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.container .left-side a {
  display: inline-block;
  background: rgb(65, 77, 245);
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 25px;
  color: white;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 650px) {
  header {
      display: block;
  }

  header .left-side a img {
      width: 80px;
      margin: auto;
      display: block;
  }

  header .right-side {
      display: flex;
      justify-content: center;
      margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a {
      padding: 10px;
      margin: 10px;
      text-decoration: none;
      color: black;
  }

  .container .left-side h1 {
      font-size: 50px;
      color: blue;
  }

  .container .left-side p {
      font-size: 18px;
  }

  .container .left-side a {
      background: blue;
      font-size: 16.2px;
  }
}

@media (max-width: 404px) {
  header {
      display: block;
  }

  header .left-side a img {
      width: 80px;
      margin: auto;
      display: block;
  }

  header .right-side {
      display: flex;
      justify-content: center;
      margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a {
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      color: black;
  }

  .container .right-side img {
      max-width: 50%;
  }

  .container .right-side .box {
      display: none;
  }

  .thumb {
      display: flex;
      margin-top: -30px;
      justify-content: center;
  }

  .thumb a:hover {
      margin-top: -15px;
      transition: 0.2s;
  }

  .thumb img {
      width: 45px;
      margin: 20px;
  }
}


@keyframes blur {
  from {
      text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%; 
  margin: 10px auto;
  background-color: white;
  padding: 10px 5
  40px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .right-side {
  display: flex;
  margin-left: 500px; 
}

header .right-side .nav-link-wrapper {
  margin-left: 40px; 
}

header .right-side .nav-link-wrapper a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Viga', sans-serif;
}

header .left-side a img {
  width: 100px;
  height: auto;
}



.tarifa {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  color: #666;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

em {
  font-size: 0.9em;
  color: #999;
}